<!DOCTYPE html>
<html lang="ja" class="fontawesome-i2svg-active fontawesome-i2svg-complete">
  <head>
    <meta charset="UTF-8">
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-THVFKVJ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div id="menu-bg"></div>
<header id="header" class="">
<div class="header-inner">
<input id="menu" type="checkbox" name="menu" class="hiddencheckbox">
<label for="menu" class="menu-icon"></label>
<nav class="menu">
<ul id="menu-list">
    <li class="menu-list-li"><a class="menu-list-a" href="/">>トップページ</a></li>
    <li class="menu-list-li"><a class="menu-list-a" href="/company">>企業情報</a></li>
    <li class="menu-list-li"><a class="menu-list-a" href="/information">>採用情報</a></li>
    <li class="menu-list-li"><a class="menu-list-a" href="tel:0473541662">047-354-1662</a></li>
</ul>
</nav>
</div>
</header>

<div class="page-title">
<img src="<%= asset_path('top.png') %>" width="100px" height="70px" alt="">
<p>INFORMATION<br><span>採用情報</span></p>
<div class="sub-nav">
</div>
</div>

<section id="about">
<div class="content">
<h2 class="section-title">ABOUT US<br><span>事業内容</span></h2>
<h3 class="text-center shift-change">迅速かつ安全に</h3>
<p>
当社は地域の産業廃棄物運搬業を担い、安全かつ効率的なサービスを提供しています。高度な技術と専門知識を持つドライバーが適切な装備と訓練を受け、産業廃棄物の運搬を行います。環境への責任を重んじ、法規制と業界の基準に厳密に準拠し、リスクを最小限に抑えます。再利用やリサイクルの機会を探求し、地域社会や環境に貢献します。私たちの使命は安全で信頼性の高いサービスを提供し、お客様のニーズに迅速かつ柔軟に対応することです。当社で一緒に働き、地域と環境に貢献するプロフェッショナルとして成長しませんか？
</p>
</div>
</section>

<section id="infographics">
<div class="content">
<h2 class="section-title">INFOGRAPHICS<br><span>数字で見る光貴建運</span></h2>
<ul class="cards">
<li class="card">
<dl>
<dt><em>８</em><br>平均勤続年数(年)</dt>
<dd>従業員の中には、10年選手もいます。</dd>
</dl>
</li>
<li class="card">
<dl>
<dt><em>43</em><br>平均年齢(歳)</dt>
<dd>20代～70代まで幅広い年代のドライバーが活躍しています。</dd>
</dl>
</li>
<li class="card">
<dl>
<dt><em>9.5</em><br>1日の平均労働時間(時間)</dt>
<dd>現場次第で就業時間は前後します。</dd>
</dl>
</li>
</ul>
</div>
</div>
</section>

<section id="oneday">
<div class="content">
<h2 class="section-title">社員の1日<br><span>ONE DAY</span></h2>
<div class="section-image"></div>
<div class="flex-box">
<div class="time-table">
<div>
<p>平日（例）</p>
<dl>
<dt><i class="far fa-clock"></i><time>06:00</time>出庫</dt>
<dd>車両点検を行こない、現場近くの待機場まで向かいます。<div class="oneday-img-sp"></div></dd>
<dt><i class="far fa-clock"></i><time>07:30</time>待機場到着</dt>
<dd>>現場開始の３０分前。その日のルート、現場内の注意事項を受けます。</dd>
<dt><i class="far fa-clock"></i><time>08:00</time>現場開始</dt>
<dd>現場開始。順番に現場内に入り荷を積みます。<div class="oneday-img-sp"></div></dd>
<dt><i class="far fa-clock"></i><time>08:00~1500</time>業務時間</dt>
<dd>無線機で連絡を取りながら混んで無い道を運転して行きます。知らない道でも無線機で教えてくれるので安心です！<div class="oneday-img-sp"></div></dd>
<dt><i class="far fa-clock"></i><time>15:00</time>最終荷下ろし</dt>
<dd>最後の荷を下ろし荷台の掃除をします。綺麗な場合はする必要はありません。<div class="oneday-img-sp"></div></dd>
<dt><i class="far fa-clock"></i><time>16:30</time>帰庫</dt>
<dd>これで業務終了です。洗車する時間も十分あります。（事務所には月３回ほど行きます。）次の日に備え洗車完了。仕事後の時間も十分確保できます！<div class="oneday-img-sp"></div></dd>
<dt></dt>
</div>
<div class="oneday-img">
</div>
</div>
<div class="time-table">
<div>
<p>土曜日（例）</p>
<dl>
<dt><i class="far fa-clock"></i><time>05:30</time>出庫</dt>
<dd>今日は開始が早い現場の為、早めに出庫します。<div class="oneday-img-sp"></div></dd>
<dt><i class="far fa-clock"></i><time>06:30</time>待機場到着</dt>
<dd>順番、ルート、注意事項の確認を行います。<div class="oneday-img-sp"></div></dd>
<dt><i class="far fa-clock"></i><time>07:00</time>現場開始</dt>
<dd>工場からスタートの為、配達先ごとに入場して行きます。<div class="oneday-img-sp"></div></dd>
<dt><i class="far fa-clock"></i><time>07:40〜14:30</time>業務開始</dt>
<dd>自分の順番が来ました。今日も安全運転で行きましょう！<div class="oneday-img-sp"></div></dd>
<dt><i class="far fa-clock"></i><time>14:30</time>最終荷下ろし</dt>
<dd>土曜日は道が空いていることが多く、早く終わるときもあります。<div class="oneday-img-sp"></div></dd>
<dt><i class="far fa-clock"></i><time>15:30</time>帰庫</dt>
<dd>週末を過ごす時間は十分にあります。お疲れ様でした！良い週末を……。</dd>
<dt></dt>
</dl>
</div>
<div class="oneday-img">
</div>
</div>
</div>
</div>
</div>
</section>

<section id="access">
<div class="content">
<h2 class="section-title">車庫<br><span>ACCESS</span></h2>
<div id="map-area">
<div id="access-caption">
<ul>
<li><h1>原木車庫<span class="sp-hidden">：</span><br class="pc-hidden">〒272-0004  千葉県市川市原木4丁目15-38</h1></li>
<li><h1>富士見車庫<span class="sp-hidden">：</span><br class="pc-hidden">〒279-0043 千葉県浦安市富士見3丁目21</h1></li>
</ul>
</div>
</div>
</div>
</section>

<section id="requirement">
<div class="content">
<h2 class="section-title">REQUIREMENT<br><span>募集要項</span></h2>
<ul class="fl-rw-ce-st multiple">
	<!--li class="link-btn link-stoped">現在募集は行っておりません。</li-->
	<li class="link-btn">大型１０tダンプドライバー<br />正社員・中途採用<br />詳しい内容はお問い合わせください</li>
</ul>
<!--p class="phone-num">お電話でのご応募はこちらから<br /><em><i class="fas fa-phone-square"></i><a href="tel:0664530037">06-6453-0037</a></em></p-->
</div>
</section>

</div><!-- end container-->

<section id="contact">
<div class="content">

<div class="contact-area">
<p class="contact-note">お気軽にお問い合わせください<br class="pc-hidden">（月〜金 10：00〜17：00）</p>
<h3 class="contact-tel"><a href="tel:0473541662" class="call m-i">047-354-1662</a></h3>
</div>
</div>
</section>

<footer>
<div class="content">
<ul>
    <li>
        <dl>
            <dt><a href="/">トップページ</a></dt>
        </dl>
    </li>
    <li>
        <dl>
            <dt><a href="/company">企業情報</a></dt>
        </dl>
    </li>
    <li>
        <dt>
            <dt><a href="/information">採用情報</a></dt>
				</dt>
    </li>
</ul>





<address>〒279-0043 千葉県浦安市富士見4-6-23<br>TEL.047-354-1662　FAX.06-6453-0364</address></div>
</footer>

<div id="flow-browser-extension-dom-wrapper"></div>

</body>