<!DOCTYPE html>
<html lang="ja" class="fontawesome-i2svg-active fontawesome-i2svg-complete">
<head>
  <meta charset="UTF-8">
  <title>株式会社光貴建運｜企業情報</title>
</head>

<body id="company" class="subpage" onload="initialize()">
  <div id="container">

    <div id="menu-bg"></div>
    <header id="header">
      <div class="header-inner">
        <input id="menu" type="checkbox" name="menu" class="hiddencheckbox">
        <label for="menu" class="menu-icon"></label>
        <nav class="menu">
          <ul id="menu-list">
            <li class="menu-list-li"><a class="menu-list-a" href="/">トップページ</a></li>
            <li class="menu-list-li"><a class="menu-list-a" href="/company">企業情報</a></li>
            <li class="menu-list-li"><a class="menu-list-a" href="/information">採用情報</a></li>
            <li class="menu-list-li"><a class="menu-list-a" href="tel:0473541662">047-354-1662</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="page-title">
      <img src="<%= asset_path('top.png') %>" width="100px" height="70px" alt="">
      <p>COMPANY<br><span>企業情報</span></p>
      <div class="sub-nav">
        <ul>
          <li><a href="#message">代表メッセージ</a></li>
          <li><a href="#philosophy">会社理念</a></li>
          <li><a href="#outline">会社概要</a></li>
          <li><a href="#history">沿革</a></li>
        </ul>
      </div>
    </div>

    <div class="content">

      <section id="message" class="sub-section">
        <div class="paper-back">
          <h1>MESSAGE<br><span>代表メッセージ</span></h1>
          <p class="ac-button">
            <span class="open">詳しく</span>
            <span class="close">閉じる</span>
          </p>
            <h2 class="ac-hidden">
            株式会社光貴建運のホームページをご覧いただき、誠にありがとうございます。当社は創業30年を迎え、10トンダンプによる産業廃棄物運搬を主な事業として地域社会に貢献してまいりました。1984年の創業以来、私たちは安全かつ迅速な廃棄物運搬を心掛け、お客様の信頼に応えるべく努力を重ねてきました。時代の変化に伴い、廃棄物処理に対する意識も高まり続けています。当社はそのニーズに応えるべく、最新の技術と設備を導入し、環境負荷を最小限に抑えた運搬方法を追求しております。また、運行管理の徹底を実施し、社員全員が安全運転を心掛けています。
            <br>
            私たちの使命は、単に廃棄物を運搬するだけでなく、地球環境の保護に貢献することです。廃棄物処理のプロフェッショナルとして、法令遵守はもちろん、常に高い倫理観を持って業務に取り組んでおります。全社員が一丸となって安全管理を徹底し、お客様に安心と信頼をお届けすることをお約束します。また、当社は地域社会とのつながりを大切にし、地域貢献活動にも積極的に参加しています。地域の皆様との信頼関係を築くことが、私たちの持続的な成長につながると考えています。これからも、地域に根ざした企業として、皆様に愛される存在であり続けたいと思います。他業務として土木現場管理業も実施しており、総合的なサービスを提供することで、より一層の信頼と満足をお届けしています。

            今後も、さらなる成長と発展を目指し、社員一同一層の努力を続けてまいります。次の30年に向けて、私たちは新たな挑戦を恐れず、常に前向きな姿勢で取り組んでまいります。皆様からの変わらぬご支援とご愛顧を賜りますよう、心よりお願い申し上げます。

            最後になりますが、私たち株式会社光貴建運は、これからも安全・迅速・環境配慮をモットーに、お客様と地域社会の期待に応え続けてまいります。どうぞよろしくお願いいたします。</h2>
            <br>
            <br>
            <span>株式会社光貴建運
                <br>
                代表取締役　中村光章
            </span>
</div>
</section>

<section id="philosophy" class="sub-section">
<div class="paper-back">
<div id="mission">
<h1>MISSION<br><span>ミッション</span></h1>
<h2>「運ぶ、守る、繋ぐ」を追求し、<br class="sp-hidden">お客様に新しい価値を提供します。</h2>
<h3>当社が考える「運ぶ」ものとは、実際の「廃棄物」でもあり「環境保護への責任」でもあります。創業当初から地域の皆様に安全で迅速な廃棄物運搬サービスを提供してきましたが、時代に合わせてその運搬業務も「進化」しました。そしてこれからは、「運ぶ」ことだけを追い求めるのではなく、環境の分野では、いかに「守る」か（サステナビリティ）、地域社会との連携で廃棄物管理を「繋ぐ」ことができるのかを追い続けていきます。</h3>
</div>
<div id="vision">
<h1>VISION<br><span>ビジョン</span></h1>
<h2><em>Driver First</em><br>ドライバー第一の会社</h2>
<h3>
<dl>
<dt>＜ストーリー＞</dt>
<dd>運行時間の短縮、人材不足など様々な問題がある中、当社はドライバーに寄り添い働きやすい環境を実現します。</dd>
<dt>＜数値目標＞</dt>
<dd>2028年度までに業界最高水準の給与の実現、ドライバー２０名の雇用。</dd>
</dl>
</h3>
</div>
</div>
</section>

<section id="outline" class="sub-section">
<div class="paper-back">
<h1>OUTLINE<br><span>会社概要</span></h1>
<table>
<tbody><tr>
<th>社名</th>
<td>株式会社光貴建運</td>
</tr>
<tr>
<th>事業所<br></th>
<td class="textleft">〒279-0043 千葉県浦安市富士見４丁目６番２３号</td>
</tr>
<tr>
<th>資本金</th>
<td>10,000,000円</td>
</tr>
<tr>
<th>設立</th>
<td>1998年5月</td>
</tr>
<tr>
<th>事業内容</th>
<td>一般貨物自動車運送業　土木工事請負業</td>
</tr>
<tr>
<th>保有車両<br></th>
<td class="textleft">１０tダンプ　９台</td>
</tr>
<tr>
<th>従業員数</th>
<td>７名（事務員含む） </td>
</tr>
<tr>
<th>代表者</th>
<td>代表取締役 中村光章</td>
</tr>
</tbody></table>
</h2>
</div>
</section>

<section id="history" class="sub-section">
<div class="paper-back">
<h1>HISTORY<br><span>沿革</span></h1>
<table>
<tbody><tr>
<th>1998年</th>
<td>有限会社　光貴建運　設立　（千葉県知事一般建設業の許可取得）
</td>
</tr>
<tr>
<th>1999年</th>
<td>社名を株式会社　光貴建運に変更</td>
</tr>
<tr>
<th>2000年</th>
<td>東京都、千葉県産業廃棄物収集運搬業許可取得</td>
</tr>
<tr>
<th>2007年</th>
<td>一般貨物自動車運送事業経営許可申請書受理</td>
</tr>
<tr>
<th>2007年</th>
<td class="textleft">埼玉県産業廃棄物収集運搬業許可取得</td>
</tr>
<tr>
<th>2010年</th>
<td class="textleft">神奈川県産業廃棄物収集運搬業許可取得</td>
</tr>
</tbody></table>
</h2>
</div>
</section>
</div>

<section id="contact">
<div class="content">
<h2 class="section-title">CONTACT<br><span>お問い合わせ</span></h2>
<div class="contact-area">
<p class="contact-note">お気軽にお問い合わせください<br class="pc-hidden">（月〜金 10：00〜17：00）</p>
<h3 class="contact-tel"><a href="tel:0473541662" class="call m-i">047-354-1662</a></h3>
</div>
</div>
</section>



<footer>
<div class="content">
<ul>
    <li>
        <dl>
            <dt><a href="/">トップページ</a></dt>
        </dl>
    </li>
    <li>
        <dl>
            <dt><dt><a href="/company">企業情報</a></dt></dt>
        </dl>
    </li>
    <li>
        <dt>
            <dt><a href="/information">採用情報</a></dt>
        </dt>
    </li>
</ul>





<address>〒279-0043 千葉県浦安市富士見4-6-23<br>TEL.047-354-1662　FAX.047-354-1650</address></div>
</footer>

</div><!-- end container-->


</body></html>